<div class="mt-4">
    <form method="post" action="">
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap vao">
        </div>

        <button type="submit" class="btn btn-primary">TimKiem</button>
    </form>
</div>